aiohttp==3.9.0
aiosignal==1.3.1
alabaster==0.7.13
anytree==2.12.1
attrs==23.1.0
autopage==0.5.2
Babel==2.13.1
beautifulsoup4==4.12.2
blinker==1.6.3
bullet==2.2.0
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cliff==4.4.0
cloud-sql-python-connector==1.4.3
cmd2==2.4.3
configobj==5.0.8
configparser==6.0.0
cryptography==41.0.5
distlib==0.3.7
dnspython==2.0.0
docopt==0.6.2
docutils==0.20.1
filelock==3.13.1
Flask==3.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.2.1
frozenlist==1.4.0
gnupg==2.3.1
google-api-core==2.14.0
google-auth==2.23.4
google-cloud==0.34.0
google-cloud-bigquery==3.13.0
google-cloud-bigquery-storage==2.22.0
google-cloud-core==2.3.3
google-cloud-storage==2.13.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
greenlet==3.0.1
grpcio==1.59.3
grpcio-status==1.59.3
humanfriendly==10.0
idna==3.5
imagesize==1.4.1
ipwhois==1.2.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.3
MarkupSafe==2.1.3
mccabe==0.7.0
multidict==6.0.4
numpy
pandas==2.1.3
pbr==6.0.0
pexpect==4.9.0
pipreqs==0.4.13
pluggy==1.3.0
prettytable==3.9.0
property-manager==3.0
proto-plus==1.22.3
protobuf==4.25.1
ptyprocess==0.7.0
pyarrow==14.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyflakes==3.1.0
PyMySQL==1.1.0
pyodbc==5.0.1
pyperclip==1.8.2
pyproject-api==1.6.1
pyreadline3==3.4.1
python-dotenv==1.0.0
python-secrets==23.4.2
pytz==2023.3.post1
pywin32==305.1
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
setuptools-scm==8.0.4
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
SQLAlchemy==2.0.7
stevedore==5.1.0
tox==4.11.4
tzdata==2023.3
urllib3==2.1.0
verboselogs==1.7
virtualenv==20.25.0
Werkzeug==3.0.0
WTForms==3.1.0
xkcdpass==1.19.8
yamlreader==3.0.4
yarg==0.1.9
yarl==1.9.3
